* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #222;
  color: white;
}

html {
  font-size: 62.5%;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

.menu {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 10px 20px;
}

.menu h1 {
  align-self: flex-start;
  font-size: 2.4rem;
  justify-self: flex-start;
  margin-right: 50px;
}

.menu select {
  padding: 5px 10px;
  border: 1px solid #ccc;
  background-color: #222;
  color: white;
  border-radius: 5px;
  border: 1px solid #555;
  font-size: 1.2rem;
  cursor: pointer;
}

.menu label {
  padding-right: 10px;
  font-size: 1.2rem;
}

.panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 5px;
}

.control-panel {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.control-panel .btn-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 10px;
  border: 1px solid #555;
  border-radius: 5px;
}

.control-panel button {
  margin: 0 10px;
  padding: 10px 15px;
  background-color: rgb(16, 81, 145);
  color: white;
  font-weight: 500;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3 all ease;
}

.control-panel button:hover {
  background-color: #113c67;
}

.control-panel label {
  margin: 0 10px;
  font-size: 1.4rem;
}

.control-panel input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.control-panel .checkbox-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  padding: 10px 15px;
  border: 1px solid #555;
  border-radius: 5px;
}

.control-panel .slider-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  padding: 10px 15px;
  border: 1px solid #555;
  border-radius: 5px;
}

/* stat panel styling */
.stat-panel {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #00000022;
  border-radius: 5px;
  font-size: 1.4rem;
}

.stat-panel #x,
.stat-panel #y {
  margin: 0 10px;
  padding: 10px 15px;
  font-weight: 700;
  border: 1px solid #555;
  border-radius: 5px;
  font-size: 1.4rem;
}
.stat-panel .gen-stat {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 10px 0 50px;
  padding: 10px 15px;
  border: 1px solid #555;
  border-radius: 5px;
}

.stat-panel .gen-stat span {
  margin: 0 10px;
  font-size: 1.4rem;
  color: limegreen;
}

.stat-panel .gen-stat .label {
  font-weight: 700;
  margin: 0 10px;
  font-size: 1.4rem;
  color: limegreen;
}
